*{
  font-size: 16px;
}
.container{
  padding: 0;
}
.divBlack{
  background-color: #1B1C1D;
}
#headerBlack ul{
  border-radius: 0;
}
#headerBlack ul, #headerBlack li, #headerBlack a, .headingBlack{
  background-color: #1B1C1D;
  color: white;
}
.headingBlack{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.contentBox div{
  margin: 50px 0px 0px 0px;
  min-height: 165px;
}
.contentImage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentImage img{
  max-height: 300px;
  max-width: 200px;
  border-radius: 5px;
}
.contentButton{
  text-align: center;
  min-height: 150px;
}
.btn{
  border-top: 50px;
  min-width: 100px;
  margin: 10px 01px;
}
.grey{
  background-color: #E0E1E2;
}
.orange{
  background-color: #F2711C;
}
.quotes{
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote{
  text-align: center;
  color: white;
  margin: 0;
}
.horizontalLine{
  height: 130px;
  align-items: center;
}
hr{
  border-top: 1px solid rgba(0,0,0,.5);
}
.flexContainerAwards{
  align-items: center;
  justify-content: center;
}
.flexContainerAwards img{
  width: 75px;
}
hr{
  margin-top: 60px;
}
.awardsRow{
  min-height: 300px;
}
.awards{
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  margin-left: 20px;
  padding: 15px;
}
.row hr{
  margin-top: 15px;
}
.title{
  text-align: center;
  align-items: center;
  min-height: 150px;
}
ul{
  margin: 50px 0 100px 0;
}
ul li{
  font-size: 14px;
}
.footer{
  display: flex;
  align-items: center;
  color: white;
  min-height: 300px;
}
.blue{
  color: blue;
}
